.functionBox{
    border-style: solid;
    border-width: 0.4rem;
    padding: 3rem;
    margin-bottom: 8rem;
    width: 60%;
    background-color: white;
}
.background{
    background-color: #528AAE;
}

td{
    border-style: solid;
    padding-right: 2rem;
    padding-left: 2rem;
    text-align: center;
}
textarea{
    padding: 1rem;
}
input{
    width: 80%;
    margin-bottom: 1rem;
}